.scoreP {
    color:green;
    font-size: 130%
    }
    .scoreM {
        color:red;
        font-size: 130%
    
        }
    .scoreN {
        color:black;
        font-size: 130%
    
    }


.formCollegue{

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    margin: auto;

    width: 20%;

    margin-bottom: 50px;

}



.formCollegue input{

    margin: 1% 0;

    width: 100%;

    padding: 10px;

    background-color: #ededed;

    border: 0;

}



.formCollegue button{

    margin-top: 25px;

}



#blocs{

    display: flex;

    justify-content: space-around;

    align-items: flex-start;

}

#blocCollegue{

   width: 100%;

}

