<div>
  <div>
    <table class="table">
      <tr>
        {{collegue.nom}}
        {{collegue.score}}
      </tr>
      {{collegue.description}}

    </table>

  </div>
  <div>
    <ngb-carousel *ngIf="collegue.images">
      <ng-template ngbSlide *ngFor="let img of collegue.images">
        <img [src]="img" alt="Random first slide">
      </ng-template>
    </ngb-carousel>
  </div>

  <app-avis (counterChange)="notation($event)" [tropDeHaine]="tropDeHaine()"  [tropDamour]="tropDamour()"></app-avis>



</div>


